<script type="text/javascript">
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
<h2 class="header" style="width:100% !important; text-align:center !important;">Plazo Fijo</h2>
<div class="section  blue lighten-4">
  <div class="row container">
    <p>Inversiones seguras y rentables a plazo fijo</p>
  </div>
</div>
<div class="section  lighten-3">
  <div class="row container">
    <h3 class="header">Informacion</h3>
    <div class="padding">
      <ul>
        <li><i class="tiny material-icons">done</i>Monto mínimo de 500</li>
        <li><i class="tiny material-icons">done</i>Plazo mínimo 31 días</li>
      </ul>
    </div>
  </div>
</div>

<div class="section teal lighten-3">
  <div class="row container">
    <h3 class="header">Beneficios</h3>
    <div class="padding">
      <ul>
        <li><i class="tiny material-icons">done</i>Seguridad y solvencia de la cooperativa COOPARTAMOS Ltda.</li>
        <li><i class="tiny material-icons">done</i>Excelente rentabilidad, a través de las mejores tasas del mercado</li>
        <li><i class="tiny material-icons">done</i>Pagos de interés por anticipado, mensual o al vencimiento</li>
        <li><i class="tiny material-icons">done</i>Puede acceder en 10 minutos un crédito hasta el 100% de su dinero a una menor tasa de interés</li>
      </ul>
    </div>
  </div>
</div>

<div class="section lighten-3">
  <div class="row container">
    <h3 class="header">Requisitos</h3>
    <div class="padding">
      <ul>
        <li><i class="tiny material-icons">done</i>Copia de cedula de Identidad</li>
        <li><i class="tiny material-icons">done</i>Copia de la papeleta de votación</li>
        <li><i class="tiny material-icons">done</i>Planilla de servicios Básicos luz, agua, teléfono</li>
      </ul>
    </div>
  </div>
</div>
<!--
<div class="section white">
  <div class="row container">
    <h2 class="header">Plazo Fijo</h2>
    <p class="grey-text text-darken-3 lighten-3"> </p>
  <h3>Inversiones seguras y rentables a plazo fijo</h3>

<div class="row">
  <div class="col s12 m12">
    <div class="card grey lighten-2">
      <div class="card-content">
        <span class="card-title">Informacion</span>
        <ul>
          <li>Monto mínimo de 500</li>
          <li>Plazo mínimo 31 días</li>
        </ul>
      </div>
    </div>
  </div>
</div>






<div class="row">
  <div class="col s12 m12">
    <div class="card grey lighten-3">
      <div class="card-content">
        <span class="card-title">Beneficios</span>
        <ul>
          <li>Seguridad y solvencia de la cooperativa COOPARTAMOS Ltda.</li>
          <li>Excelente rentabilidad, a través de las mejores tasas del mercado</li>
          <li>Pagos de interés por anticipado, mensual o al vencimiento</li>
          <li>Puede acceder en 10 minutos un crédito hasta el 100% de su dinero a una menor tasa de interés</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card grey lighten-4">
      <div class="card-content">
        <span class="card-title">Requisitos</span>
        <ul>
          <li>Copia de cedula de Identidad</li>
          <li>Copia de la papeleta de votación</li>
          <li>Planilla de servicios Básicos luz, agua, teléfono</li>
        </ul>
      </div>
    </div>
  </div>
</div>


  </div>
</div> -->