<div class="content">
  <h2>Inversiones seguras y rentables a plazo fijo</h2>
  <div>
    <ul>
      <li>Monto mínimo de 500</li>
      <li>Plazo mínimo 31 días</li>
    </ul>
  </div>
  <div>
    <h3>Beneficios</h3>
    <ul>
      <li>Seguridad y solvencia de la cooperativa COOPARTAMOS Ltda.</li>
      <li>Excelente rentabilidad, a través de las mejores tasas del mercado</li>
      <li>Pagos de interés por anticipado, mensual o al vencimiento</li>
      <li>Puede acceder en 10 minutos un crédito hasta el 100% de su dinero a una menor tasa de interés</li>
    </ul>
  </div>
  <div>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
</div>