
.content {
  padding: 20px;
}

.caption, .owl-carousel .card-title {
    background-color: rgba(0, 0, 0, 0.53);
}

.card-title {
  width: 100%;
}

.owl-carousel .card {
  margin-right: 5px;
  margin-left: 5px;
}