/*Navbar*/
.header-fixed {
  position: fixed;
  height: auto;
  width: 100%;
  top: 0;
  z-index: 9999;
}

nav {
  background: rgba(141, 79, 164, 1) !important;
}
.cnav {
  padding: 10px 0;
  background: -webkit-linear-gradient(rgba(141, 79, 164, 1), rgba(141, 79, 164, 0.0)) !important;
  background: -moz-linear-gradient(rgba(141, 79, 164, 1), rgba(141, 79, 164, 0.0));
  background: -o-linear-gradient(rgba(141, 79, 164, 1), rgba(141, 79, 164, 0.0));
  background: linear-gradient(rgba(141, 79, 164, 1), rgba(141, 79, 164, 0.0)) !important;
  height: 100px !important;
  z-index: 200 !important;
}

nav ul, nav li, nav a {
  height: 100% !important;
}

nav a {
  display: inline-table;
  vertical-align: middle;
  /*padding-top: 50%;*/
  font-size: 120% !important;
  font-weight: bold;
}

.customNav {
  background: rgba(141, 79, 164, 1) !important;
  padding-top: 0 !important;
  height: 65px !important;
}

/*info div top*/
.info {
  position: relative;/*fixed*/
  display: inline-block;
  height: auto;
  width: 100%;
  background-color: #fff;
  color: #3A44FD;
  padding: 5px;
}

.info label {
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
}

/*Section*/
section {
  margin-top: 100px !important;
}

/*Slider styles*/
.slider .slides li .caption {
  top: auto !important;
  bottom: 0 !important;
  right: 0 !important;
  left: auto !important;
}

.slider {
  margin-top: -100px;
  height: 640px !important;
  z-index: -1 !important;
}

.slides {

  height: 600px !important;
}

.slider img {
  background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    filter: drop-shadow(10px -16px 30px black);
    -webkit-filter: drop-shadow(10px -16px 30px black);
    -moz-filter: drop-shadow(10px -16px 30px black);
}
/*Media querys for slider*/
@media only screen and (min-width: 2048px) {
  .slider {
    height: 1140px !important;
  }

  .slides {
    height: 1100px !important;
  }
}

.slider .slides li .caption {
  bottom: 0 !important;
}

/*Utils*/
.content {
  padding: 20px;
}

.caption, .owl-carousel .card-title {
    background-color: rgba(0, 0, 0, 0.53);
}

.card-title {
  width: 100%;
}

.owl-carousel .card {
  margin-right: 5px;
  margin-left: 5px;
}
.img-carousel {
  height: 235px;
}

.move-card {
  cursor:pointer !important;
  -webkit-transform:translateY(0) !important;
  transition: transform .5s ease !important;
}

.move-card:hover {
  -webkit-transform:translateY(10px) !important;
}

/*style pages*/
.title-service {
  /*width: 100%;*/
  padding: 1px;
  /*background-color: rgba(0, 0, 0, 0.5);*/

  /*color: #fff;*/
}

.content-service {
  width: 100%;
  padding: 15px;
}
/*style for ul*/
.padding {
  padding-left: 20px;
}

/*map*/
#map {
  height: 400px;
  width: 100%;
 }

.item {
  background-color: rgba(1, 1, 1, 0.1);
  /*margin: 5px;*/
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/*info div top*/
.info {
  position: relative;/*fixed*/
  display: inline-block;
  height: auto;
  width: 100%;
  background-color: #fff;
  color: #3A44FD;
  padding: 10px;
}

.info label {
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
}

/*Filtros imagen*/
.azul:before {
  background: rgba(0,0,255, 0.5);
}
