<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Coopartamos Ltda</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Basic OWL stylesheet -->
    <link rel="stylesheet" href="lib/owl-carousel/owl.carousel.css">

     <!-- Default OWL Theme -->
    <link rel="stylesheet" href="lib/owl-carousel/owl.theme.css">

    <!--Custom Style -->
    <link rel="stylesheet" href="css/style.css">

    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified CSS Materialize-->
    <link rel="stylesheet" href="lib/materialize/materialize-0.97.7.min.css">

    <!-- Jquery librearies -->
    <script src="lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="lib/jquery/jquery.cookie-1.4.1.min.js"></script>

    <!-- Caruosel OWL js -->
    <script src="lib/owl-carousel/owl.carousel.js"></script>

    <!-- Compiled and minified JavaScript Materialize -->
    <script src="lib/materialize/materialize-0.97.7.min.js"></script>
    <!-- Angular Libraries -->
    <script src="lib/angularjs/angular-1.5.5.min.js"></script>
    <script src="lib/angularjs/angular-ui-router-0.3.1.min.js"></script>

    <!-- firebase  scripts-->
    <script src="lib/firebase/firebase-2.2.4.js"></script>
    <script src="lib/firebase/angularfire-1.2.0.min.js"></script>
    <!-- <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script> -->
    <!-- <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script> -->

    <script src="js/app.js"></script>

    <script type="text/javascript">
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal({
          //ready: function() { alert('Ready'); }, // Callback for Modal open
          //complete: function() { alert('Closed'); } // Callback for Modal close
        });
      });
    </script>
  </head>
  <body ng-app="coop">
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper deep-purple lighten-2">
            <a href="#!" class="brand-logo"><i><img src="img/logo.png" style="width:100px; padding-top: 10px;"></i> COOPARTAMOS</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="small material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li ng-class="{active: state=='home'}"><a ui-sref="home"><span>Home</span></a></li>
              <li ng-class="{active: state=='somos'}"><a ui-sref="quienes_somos"><span>¿Quienes Somos?</span></a></li>
              <li ng-class="{active: state=='socios'}"><a ui-sref="socios" class="dropbtn"><span>Beneficios de se Socios</span></a></li>
              <li ng-class="{active: state=='comunidad'}"><a ui-sref="comunidad" class="dropbtn"><span>Coopartamos en la Comunidad</span></a></li>
              <li ng-class="{active: state=='contactanos'}"><a ui-sref="contactanos" class="dropbtn"><span>Contáctanos</span></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li ng-class="{active: state=='home'}"><a ui-sref="home"><span>Home</span></a></li>
              <li ng-class="{active: state=='cuentas'}"><a ui-sref="ahorros"><span>Cuentas</span></a></li>
              <li ng-class="{active: state=='depositos'}"><a ui-sref="plazo_fijo" class="dropbtn"><span>Depositos</span></a></li>
              <li ng-class="{active: state=='creditos'}"><a ui-sref="creditos" class="dropbtn"><span>Creditos</span></a></li>
              <li ng-class="{active: state=='micro'}"><a ui-sref="micro_creditos" class="dropbtn"><span>Micro Creditos</span></a></li>
              <li ng-class="{active: state=='conocenos'}"><a ui-sref="conocenos" class="dropbtn"><span>Conocenos</span></a></li>
              <li ng-class="{active: state=='contactanos'}"><a ui-sref="contactanos" class="dropbtn"><span>Contáctanos</span></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section ui-view></section>
    <footer class="page-footer deep-purple lighten-3">
      <div class="content">
        <div class="row">
          <div class="col l6 m8 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l3 m4 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 m12 s12">
            <div class="card blue-grey darken-1" ng-controller="crtlContador" ng-init="verificar_cookie()">
              <div class="card-content white-text">
                <div class="row">
                  <div class="col"><span class="card-title">Contador de Visitas</span></div>
                </div>
                <div class="row">
                  <div class="col m8">Hoy</div>
                  <div class="col m4 right-align">{{hoy}}</div>
                  <div class="col m8">Este mes</div>
                  <div class="col m4 right-align">{{mes}}</div>
                  <div class="col m8">Total</div>
                  <div class="col m4 right-align">{{total}}</div>
                </div>
              </div>
            </div>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Suscribirse</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!-- Modal Structure -->
    <div id="modal1" class="modal" ng-controller="crtlSuscripcion">
      <div class="modal-content">
        <h4>Suscribirse</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col m6 s12">
                <input ng-model="nombre" id="first_name" type="text" class="validate">
                <label for="first_name">Nombres</label>
              </div>
              <div class="input-field col m6 s12">
                <input ng-model="apellido" id="last_name" type="text" class="validate">
                <label for="last_name">Apellidos</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input ng-model="email" id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input ng-model="telefono" id="phone" type="number" class="validate">
                <label for="phone">Telefono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea ng-model="comentario" id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Comentario</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <a href="#!" class=" modal-action waves-effect waves-green btn-flat" ng-click="suscribir()"><i class="material-icons right">send</i>Suscribirse</a>
      </div>
    </div>



  </body>
</html>
