<div class="content">
  <h1>Haga crecer su dinero con las mejores tasas del mercado</h1>
  <div class="centrar">
    <img src="img/slider2.jpg">
  </div>

  <div>
    <ul>
      <li>Ahooro a la Vista</li>
      <li>Ahorros Futuros</li>
      <li>Ahorros Estudiantiles</li>
    </ul>
  </div>
  <div>
    <h3>Beneficios</h3>
    <ul>
      <li>No tiene ningún costo de mantenimiento</li>
      <li>Atención personalizada</li>
      <li>Puede solicitar crédito inmediato </li>
    </ul>
  </div>
  <div>
    <h3>Requisitos</h3>
    <h4>Personas Naturales</h4>
    <ul>
      <li>Monto mínimo de apertura 30.00</li>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Planilla de servicios Básicos  luz, agua, teléfono</li>
    </ul>
    <h4>Personas Juridícas</h4>
    <ul>
      <li>Monto mínimo de apertura 30.00</li>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Acta de la constitución de la empresa</li>
      <li>Cedula de representante legal</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
</div>