<!-- <div class="content">
  <h1>Haga crecer su dinero con las mejores tasas del mercado</h1>
  <div class="centrar">
    <img src="img/slider2.jpg">
  </div>

  <div>
    <ul>
      <li>Ahooro a la Vista</li>
      <li>Ahorros Futuros</li>
      <li>Ahorros Estudiantiles</li>
    </ul>
  </div>
  <div>
    <h3>Beneficios</h3>
    <ul>
      <li>No tiene ningún costo de mantenimiento</li>
      <li>Atención personalizada</li>
      <li>Puede solicitar crédito inmediato </li>
    </ul>
  </div>
  <div>
    <h3>Requisitos</h3>
    <h4>Personas Naturales</h4>
    <ul>
      <li>Monto mínimo de apertura 30.00</li>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Planilla de servicios Básicos  luz, agua, teléfono</li>
    </ul>
    <h4>Personas Juridícas</h4>
    <ul>
      <li>Monto mínimo de apertura 30.00</li>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Acta de la constitución de la empresa</li>
      <li>Cedula de representante legal</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
</div> -->



<div class="content">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="img/slider2.jpg">
          <span class="card-title">Haga crecer su dinero con las mejores tasas del mercado</span>
        </div>
        <div class="card-content">
          <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
            <md-toolbar class="md-raised-100">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">Tipos de cuentas</h2>
              </div>
            </md-toolbar>
            <md-content flex="" layout-padding="">
              <ul>
                <li>Ahooro a la Vista</li>
                <li>Ahorros Futuros</li>
                <li>Ahorros Estudiantiles</li>
              </ul>
            </md-content>
          </div>
          <br>
          <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
            <md-toolbar class="md-raised">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">Beneficios</h2>
              </div>
            </md-toolbar>
            <md-content flex="" layout-padding="">
              <ul>
                <li>No tiene ningún costo de mantenimiento</li>
                <li>Atención personalizada</li>
                <li>Puede solicitar crédito inmediato </li>
              </ul>
            </md-content>
          </div>
          <br>
          <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
            <md-toolbar class="md-raised">
              <div class="md-toolbar-tools">
                <h2 class="md-flex">Requisitos</h2>
              </div>
            </md-toolbar>
            <md-content flex="" layout-padding="">
              <h3>Personas Naturales</h3>
              <ul>
                <li>Monto mínimo de apertura 30.00</li>
                <li>Copia de cedula de Identidad</li>
                <li>Copia de la papeleta de votación</li>
                <li>Planilla de servicios Básicos  luz, agua, teléfono</li>
              </ul>
              <h3>Personas Juridícas</h3>
              <ul>
                <li>Monto mínimo de apertura 30.00</li>
                <li>Copia de cedula de Identidad</li>
                <li>Copia de la papeleta de votación</li>
                <li>Acta de la constitución de la empresa</li>
                <li>Cedula de representante legal</li>
                <li>Planilla de servicios Básicos luz, agua, teléfono</li>
              </ul>
            </md-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="content">
  <h1>Haga crecer su dinero con las mejores tasas del mercado</h1>
  <img class="img-responsive" src="img/slider2.jpg">
  <br>
  <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
    <md-toolbar class="md-raised">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Tipos de cuentas</h2>
      </div>
    </md-toolbar>
    <md-content flex="" layout-padding="">
      <ul>
        <li>Ahooro a la Vista</li>
        <li>Ahorros Futuros</li>
        <li>Ahorros Estudiantiles</li>
      </ul>
    </md-content>
  </div>
  <br>
  <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
    <md-toolbar class="md-raised">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Beneficios</h2>
      </div>
    </md-toolbar>
    <md-content flex="" layout-padding="">
      <ul>
        <li>No tiene ningún costo de mantenimiento</li>
        <li>Atención personalizada</li>
        <li>Puede solicitar crédito inmediato </li>
      </ul>
    </md-content>
  </div>
  <br>
  <div  layout="column" ng-cloak class="contentdemoBasicUsage" md-whiteframe="2">
    <md-toolbar class="md-raised">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Requisitos</h2>
      </div>
    </md-toolbar>
    <md-content flex="" layout-padding="">
      <h3>Personas Naturales</h3>
      <ul>
        <li>Monto mínimo de apertura 30.00</li>
        <li>Copia de cedula de Identidad</li>
        <li>Copia de la papeleta de votación</li>
        <li>Planilla de servicios Básicos  luz, agua, teléfono</li>
      </ul>
      <h3>Personas Juridícas</h3>
      <ul>
        <li>Monto mínimo de apertura 30.00</li>
        <li>Copia de cedula de Identidad</li>
        <li>Copia de la papeleta de votación</li>
        <li>Acta de la constitución de la empresa</li>
        <li>Cedula de representante legal</li>
        <li>Planilla de servicios Básicos luz, agua, teléfono</li>
      </ul>
    </md-content>
  </div>
</div> -->