<h2 class="header" style="width:100% !important; text-align:center !important;">Cuenta de Ahorros</h2>
<div class="section  blue lighten-3">
  <div class="row container">
    <h3 class="header">Tipos de cuentas</h3>
    <div class="padding">
        <ul>
          <li><i class="tiny material-icons">done</i>Ahorro a la Vista</li>
          <li><i class="tiny material-icons">done</i>Ahorros Futuros</li>
          <li><i class="tiny material-icons">done</i>Ahorros Estudiantiles</li>
        </ul>
      </div>
  </div>
</div>

<div class="section lighten-3">
  <div class="row container">
    <h3 class="header">Beneficios</h3>
    <div class="padding">
      <ul>
      <li><i class="tiny material-icons">done</i>No tiene ningún costo de mantenimiento</li>
      <li><i class="tiny material-icons">done</i>Atención personalizada</li>
      <li><i class="tiny material-icons">done</i>Puede solicitar crédito inmediato </li>
      </ul>
  </div>
</div>

<div class="section  teal lighten-4">
  <div class="row container">
    <h3 class="header">Requisitos</h3>
    <table class="bordered striped responsive-table">
      <thead>
        <tr>
            <th data-field="id">Personas Naturales</th>
            <th data-field="name">Personas Juridicas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="padding">
              <ul>
                <li><i class="tiny material-icons">done</i>Monto mínimo de apertura 30.00</li>
                <li><i class="tiny material-icons">done</i>Copia de cedula de Identidad</li>
                <li><i class="tiny material-icons">done</i>Copia de la papeleta de votación</li>
                <li><i class="tiny material-icons">done</i>Planilla de servicios Básicos  luz, agua, teléfono</li>
              </ul>
            </div>
          </td>
          <td>
            <div class="padding">
              <ul>
                <li><i class="tiny material-icons">done</i>Monto mínimo de apertura 30.00</li>
                <li><i class="tiny material-icons">done</i>Copia de cedula de Identidad</li>
                <li><i class="tiny material-icons">done</i>Copia de la papeleta de votación</li>
                <li><i class="tiny material-icons">done</i>Acta de la constitución de la empresa</li>
                <li><i class="tiny material-icons">done</i>Cedula de representante legal</li>
                <li><i class="tiny material-icons">done</i>Planilla de servicios Básicos luz, agua, teléfono</li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
<div class="section white">
  <div class="row container">
    <h2 class="header">Cuenta de Ahorros</h2>
    <div class="content-service">
          <h5>Tipos de cuentas</h5>
          <div class="padding">
            <ul>
              <li><i class="tiny material-icons">done</i>Ahorro a la Vista</li>
              <li><i class="tiny material-icons">done</i>Ahorros Futuros</li>
              <li><i class="tiny material-icons">done</i>Ahorros Estudiantiles</li>
            </ul>
          </div>
          <br>
          <h5>Beneficios</h5>
          <div class="padding">
             <ul>
              <li><i class="tiny material-icons">done</i>No tiene ningún costo de mantenimiento</li>
              <li><i class="tiny material-icons">done</i>Atención personalizada</li>
              <li><i class="tiny material-icons">done</i>Puede solicitar crédito inmediato </li>
            </ul>
          </div>
          <br>
          <table class="bordered striped responsive-table">
            <thead>
              <tr>
                  <th data-field="id">Personas Naturales</th>
                  <th data-field="name">Personas Juridicas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="padding">
                    <ul>
                      <li><i class="tiny material-icons">done</i>Monto mínimo de apertura 30.00</li>
                      <li><i class="tiny material-icons">done</i>Copia de cedula de Identidad</li>
                      <li><i class="tiny material-icons">done</i>Copia de la papeleta de votación</li>
                      <li><i class="tiny material-icons">done</i>Planilla de servicios Básicos  luz, agua, teléfono</li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="padding">
                    <ul>
                      <li><i class="tiny material-icons">done</i>Monto mínimo de apertura 30.00</li>
                      <li><i class="tiny material-icons">done</i>Copia de cedula de Identidad</li>
                      <li><i class="tiny material-icons">done</i>Copia de la papeleta de votación</li>
                      <li><i class="tiny material-icons">done</i>Acta de la constitución de la empresa</li>
                      <li><i class="tiny material-icons">done</i>Cedula de representante legal</li>
                      <li><i class="tiny material-icons">done</i>Planilla de servicios Básicos luz, agua, teléfono</li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div> -->