<div class="services-post">
  <div class="project-title title">
    <!-- <span class="sm-title">We are expert in</span> -->
    <h2 class="box-header">Ahorro a la Vista</h2>
  </div>
  <img src="img/ahorro.jpg" alt="">
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse

    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse

    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row text-left">
  <div class="col-md-6">
    <div class="section-title-style-2">
      <h3>Beneficios</h3>
      <ul class="requisitos">
        <li>No tiene ningún costo de mantenimiento</li>
        <li>Atención personalizada</li>
        <li>Puede solicitar crédito inmediato</li>
      </ul>

      <h3>Requisitos</h3>

      <h4>Persona Natural </h4>
      <ul class="requisitos">
        <li>Monto mínimo de apertura 30.00</li>
        <li>Copia de cedula de Identidad</li>
        <li>Copia de la papeleta de votación</li>
        <li>Planilla de servicios Básicos  luz, agua, teléfono</li>
      </ul>

      <h4>Persona Juridica </h4>
      <ul class="requisitos">
        <li>Monto mínimo de apertura 30.00</li>
        <li>Copia de cedula de Identidad</li>
        <li>Copia de la papeleta de votación</li>
        <li>Acta de la constitución de la empresa</li>
        <li>Cedula de representante legal</li>
        <li>Planilla de servicios Básicos luz, agua, teléfono</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="services-post"> <img src="img/plazo_fijo.jpg" alt=""> </div>
  </div>
</div>