<section class="projects-page-section">
  <div class="container">
    <div class="project-title title"> <span class="sm-title">Coopartamos en la</span>
      <h2 class="box-header">COMUNIDAD</h2>
      <p>Aquí podremos ver imágenes de nuestra labor en la comunidad, eventos sociales, deportivos y
        culturales en donde Coopartamos se encuentra presente.</p>
    </div>
  </div>
  <div class="gallery">
    <div class="container">
      <div class="project-box iso-call col2">
        <div class="project-post transport heavy"> <img src="img/foto1.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post freight"> <img src="img/foto2.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport heavy"> <img src="img/foto3.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport"> <img src="img/foto4.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post freight heavy"> <img src="img/foto5.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post fleet"> <img src="img/slider1.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport"> <img src="img/foto22.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post heavy"> <img src="img/slider3.png" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post fleet"> <img src="img/foto4.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>