<!-- <section class="projects-page-section">
  <div class="container">
    <div class="project-title title"> <span class="sm-title">Coopartamos en la</span>
      <h2 class="box-header">COMUNIDAD</h2>
      <p>Aquí podremos ver imágenes de nuestra labor en la comunidad, eventos sociales, deportivos y
        culturales en donde Coopartamos se encuentra presente.</p>
    </div>
  </div>
  <div class="gallery">
    <div class="container">
      <div class="project-box iso-call col2">
        <div class="project-post transport heavy"> <img src="img/foto1.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post freight"> <img src="img/foto2.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport heavy"> <img src="img/foto3.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport"> <img src="img/foto4.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post freight heavy"> <img src="img/foto5.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post fleet"> <img src="img/slider1.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post transport"> <img src="img/foto22.jpg" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post heavy"> <img src="img/slider3.png" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
        <div class="project-post fleet"> <img src="img/foto4.JPG" alt="">
          <div class="hover-box">
            <ul class="list-unstyled">
              <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
            </ul>
            <div class="hover-box">
              <ul class="list-unstyled">
                <li><a href="single-project.html"><i class="icon icon-Linked"></i></a></li>
              </ul>
              <div class="bx">
                <h2><a href="single-project.html">finance Works</a></h2>
                <span>Duis aute irure dolor in reprehenderit in voluptate velit esse</span> </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section> -->

<br>
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/slider22.jpg">
      <div class="desc">
        <h4>Foto Institucional</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/foto1.jpg">
      <div class="desc">
        <h4>Premiación a los Ganadores</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/foto2.JPG">
      <div class="desc">
        <h4>Selección de Coopartamos</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/foto3.JPG">
      <div class="desc">
        <h4>Elección de Madrina</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/foto4.JPG">
      <div class="desc">
        <h4>Equipo Campeón</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 wrapper">
    <div class="fix">
      <img class="img-responsive" src="img/foto5.jpg">
      <div class="desc">
        <h4>Campeones</h4>
        <p class="desc_content">The pack, the basic unit of wolf social life.</p>
      </div>
    </div>
  </div>
</div>
</div>
<br>