<img class="img-responsive" src="img/conocenos.jpg">
<div class="row">
  <div class="col s12 m12">
    <div class="card red accent-2">
      <div class="card-content">
        <span class="card-title">Reseña Histórica</span>
        <p>
          Las primeras ideas y reuniones para la conformación de Coopartamos Ltda., se dieron
por el mes de enero del 2009, las reuniones con los idealistas de este proyecto socio-
financiero fueron lideradas por el economista Héctor Moromenacho, profesional con 17
años de experiencia en el sector cooperativo de ahorro y crédito. La Dirección Nacional
de Cooperativas, evaluó el Proyecto de Factibilidad y el 18 de diciembre de 2009 se
legalizó la misma.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card lime accent-3">
      <div class="card-content">
        <span class="card-title">Misión Coporativa</span>
        <p>
          La misión central de COOPARTAMOS es “mejorar la calidad de vida de sus asociados”.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card amber">
      <div class="card-content">
        <span class="card-title">Visión Coporativa</span>
        <p>
          La idea visionaria de la cooperativa en estudio es: ser una empresa cooperativa
consolidada en lo económico y en lo social, a través de la satisfacción total de las
necesidades y expectativas tanto de su cliente interno como externo.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12">
    <div class="card  light-blue darken-1">
      <div class="card-content">
        <span class="card-title">Valores Coporativos</span>
        <p>
          Para COOPARTAMOS es primordial la práctica y el reflejo de valores como:
        </p>
        <ul class="browser-default">
          <li>RESPONSABILIDAD.- Asegurar la continuidad del desarrollo de la comunidad.</li>
          <li>HONESTIDAD.- Transparencia en el manejo de los recursos de la organización.</li>
          <li>LEALTAD.- Compromiso con la institución y sus miembros.</li>
          <li>SOLIDARIDAD.- Velar por el interés colectivo de sus miembros.</li>
        </ul>
      </div>
    </div>
  </div>
</div>