<div class="row">
  <div class="col s12 m12">
    <div class="card ryellow lighten-4 hoverable">
      <div class="card-content">
        <span class="card-title">Formulario de Contacto</span>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Nombre</label>
              </div>
              <div class="input-field col s12 m6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telefono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix"></i>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Comentario</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <a class="waves-effect waves-light btn"><i class="material-icons right">send</i>Enviar Comentario</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l6">
    <div class="card ryellow lighten-4 hoverable">
      <div class="card-content">
        <span class="card-title">DIRECCIÓN MATRIZ</span>
        <p>Sangolquí, San Pedro de Taboada Av. Mariana de Jesús y Los Laureles.</p>
        <p>TELÉFONOS: 2860 381 - 2864 221 - 090106204 - 0983385496</p>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card ryellow lighten-4 hoverable">
      <div class="card-content">
        <span class="card-title">DIRECCIÓN AGENCIA PIFO</span>
        <p>Parroquia Pifo, Parque Central.</p>
        <p>TELÉFONOS: 2382-362</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l6">
    <div class="card ryellow lighten-4 hoverable">
      <div class="card-content">
        <span class="card-title">DIRECCIÓN VENTANILLA ALANGASÍ</span>
        <p>Alangasí, Eloy Alfaro 158 y Simón Bolívar.</p>
        <p>TELÉFONOS: 2787-926</p>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l6">
    <div class="card ryellow lighten-4 hoverable">
      <div class="card-content">
        <span class="card-title">CORREO ELECTRONICO</span>
        <p>info@coopartamos.fin.ec</p>
      </div>
    </div>
  </div>
</div>