<script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider({
        indicators: true,
        interval: 3000
      });
    });       
</script>
<div class="slider">
  <ul class="slides">
    <li>
      <img src="img/slider1.png"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="img/slider2.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="img/slider3.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="img/slider4.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>
      
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img src="img/slider2.jpg">
        <span class="card-title">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img src="img/slider2.jpg">
        <span class="card-title">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img src="img/slider2.jpg">
        <span class="card-title">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img src="img/slider2.jpg">
        <span class="card-title">Card Title</span>
      </div>
    </div>
  </div>
</div>