<script type="text/javascript">
  // $(document).ready(function(){
  //     $('.slider').slider({
  //       indicators: true,
  //       interval: 3000
  //     });
     /* $(".owl-carousel").owlCarousel({
        //Basic Speeds
        autoPlay: 300,
        slideSpeed : 100,
        paginationSpeed : 400,
        rewindSpeed : 500,
        items : 3,

        //Autoplay
        autoPlay : true,
        stopOnHover : true,

        //Pagination
        pagination : false,
        paginationNumbers: true,

        //Lazy load
        lazyLoad : true,
        lazyFollow : true,
        lazyEffect : "fade",
      });*/

  //     // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  //     $('.modal-trigger').leanModal({
  //       ready: function() { alert('Ready'); }, // Callback for Modal open
  //       complete: function() { alert('Closed'); } // Callback for Modal close
  //     });
  //   });

</script>
<section class="services-offer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="project-title title"> <span class="sm-title">Somos expertos en</span>
            <h2 class="box-header">NUESTROS SERVICIOS</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse

              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="tg-service services-content tg-haslayout col-md-4 ">
            <div class="tg-border-topleft tg-haslayout">
              <div class="tg-displaytable">
                <div class="tg-displaytablecell"> <span class="icons"><img src="images/icon1.png" alt=""></span>
                  <h3>Ahorros</h3>
                  <div class="tg-description">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>

          <div class="tg-service services-content tg-haslayout col-md-4">
            <div class="tg-border-topleft tg-haslayout">
              <div class="tg-displaytable">
                <div class="tg-displaytablecell"> <span class="icons"><img src="images/icon2.png" alt=""></span>
                  <h3>Créditos</h3>
                  <div class="tg-description">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>


          <div class="tg-service services-content tg-haslayout col-md-4">
            <div class="tg-border-topleft tg-haslayout">
              <div class="tg-displaytable">
                <div class="tg-displaytablecell"> <span class="icons"><img src="images/icon3.png" alt=""></span>
                  <h3>Inversiones</h3>
                  <div class="tg-description">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
<div class="owl-carousel">
  <div class="content-carousel">
    <div class="item-carousel" ng-click="showAhorroVista()">
      <img class="circle custom-img" src="img/dep_vista.jpg">
      <h3>Ahorro a la Vista</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
  </div>
  <div class="content-carousel">
    <div class="item-carousel" ng-click="showAhorroFuturo()">
      <img class="circle custom-img" src="img/service2.jpg">
      <h3>Ahorro Futuro</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
  </div>
  <div class="content-carousel">
    <div class="item-carousel" ng-click="showDepositoPlazoFijo()">
      <img class="circle custom-img" src="img/plazo_fijo.jpg">
      <h3>Deposito Plazo Fijo</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
  </div>
  <div class="content-carousel">
    <div class="item-carousel" ng-click="showMicroCredito()">
      <img class="circle custom-img" src="img/micro_credito.jpg">
      <h3>Micro - Crédito</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
  </div>
  <div class="content-carousel">
    <div class="item-carousel" ng-click="showCreditoConsumo()">
      <img class="circle custom-img" src="img/cred_consumo.jpg">
      <h3>Crédito de Consumo</h3>
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
    </div>
  </div>

<!-- no vale lo de abajo -->
  <!-- <div class="card move-card" ng-click="showAhorroVista()">
    <div class="card-image">
      <img class="img-carousel" src="img/dep_vista.jpg">
    </div>
  </div>
  <div class="card move-card" ng-click="showAhorroFuturo()">
    <div class="card-image">
      <img class="img-carousel" src="img/service2.jpg">
    </div>
  </div>
  <div class="card move-card" ng-click="showDepositoPlazoFijo()">
    <div class="card-image">
      <img class="img-carousel" src="img/plazo_fijo.jpg">
    </div>
  </div>
  <div class="card move-card" ng-click="showMicroCredito()">
    <div class="card-image">
      <img class="img-carousel" src="img/micro_credito.jpg">
    </div>
  </div>
  <div class="card move-card" ng-click="showCreditoConsumo()">
    <div class="card-image">
      <img class="img-carousel" src="img/cred_consumo.jpg">
    </div>
  </div> -->
</div>

  <!-- clients-section

      ================================================== -->

  <section class="clients-section">
    <div class="container">
      <div class="project-title title"> <span class="sm-title">Estamos regularizados por:</span>
        <!-- <h2 class="box-header">OUR PARTNERS</h2> -->
        <!-- <p>Duis aute irure dolor in reprehenderit in voluptate velit esse

          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non

          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      </div>
      <div class="row">
        <div class="textwidget">
          <div class="logo-panel">
            <div class="row">
              <div class="col-sm-offset-2 col-xs-12 col-sm-2"><img src="img/uaf.gif" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="img/se.gif" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="img/banco.gif" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="img/cosede.jpg" alt="Client" height="98" width="208"></div>
              <!-- <div class="col-xs-12 col-sm-2"><img src="images/clients/client_05.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_06.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_07.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_08.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_09.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_10.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_11.jpg" alt="Client" height="98" width="208"></div>
              <div class="col-xs-12 col-sm-2"><img src="images/clients/client_12.jpg" alt="Client" height="98" width="208"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- End clients section -->