<script type="text/javascript">
  $(document).ready(function(){
      $('.slider').slider({
        indicators: true,
        interval: 3000
      });
      $(".owl-carousel").owlCarousel({
        //Basic Speeds
        slideSpeed : 100,
        paginationSpeed : 400,
        rewindSpeed : 500,

        //Autoplay
        autoPlay : true,
        stopOnHover : true,

        //Pagination
        pagination : false,
        paginationNumbers: true,

        //Lazy load
        lazyLoad : true,
        lazyFollow : true,
        lazyEffect : "fade",
      });

      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal({
        ready: function() { alert('Ready'); }, // Callback for Modal open
        complete: function() { alert('Closed'); } // Callback for Modal close
      });
    });

</script>
<div class="row">
  <div class="col s12 l12">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="img/slider1.JPG">
          <div class="caption center-align">
            <h3>Bienvenido a Coopratamos</h3>
            <h5 class="light grey-text text-lighten-3">Siempre pensando en ti..</h5>
          </div>
        </li>
        <li>
          <img src="img/slider2.jpg">
          <div class="caption left-align">
            <h5 class="light grey-text text-lighten-3">Tienes un un sueño, construyamoslo juntos.</h5>
          </div>
        </li>
        <li>
          <img src="img/slider3.png">
          <div class="caption right-align">
            <h5 class="light grey-text text-lighten-3">Gracias a tu confianza, en coopartamos seguimos creciendo.</h5>
          </div>
        </li>
        <li>
          <img src="img/slider4.JPG">
          <div class="caption center-align">
            <h5 class="light grey-text text-lighten-3">Atrévete, somos tu mejor opción para hacer creer tu negocio.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 l12">
    <div class="owl-carousel">
      <div class="card move-card" ng-click="showAhorroVista()">
        <div class="card-image">
          <img class="img-carousel" src="img/dep_vista.jpg">
          <!-- <a ui-sref="ahorros"><span class="card-title">Ahorro a la Vista</span></a> -->
        </div>
      </div>
      <div class="card move-card" ng-click="showAhorroFuturo()">
        <div class="card-image">
          <img class="img-carousel" src="img/service2.jpg">
          <!-- <span class="card-title">Ahorro Futuro</span> -->
        </div>
      </div>
      <div class="card move-card" ng-click="showDepositoPlazoFijo()">
        <div class="card-image">
          <img class="img-carousel" src="img/plazo_fijo.jpg">
          <!-- <a ui-sref="plazo_fijo"><span class="card-title">Depósito a Plazo Fijo</span></a> -->
        </div>
      </div>
      <div class="card move-card" ng-click="showMicroCredito()">
        <div class="card-image">
          <img class="img-carousel" src="img/micro_credito.jpg">
          <!-- <a ui-sref="micro_creditos"><span class="card-title">Micro Crédito</span></a> -->
        </div>
      </div>
      <div class="card move-card" ng-click="showCreditoConsumo()">
        <div class="card-image">
          <img class="img-carousel" src="img/cred_consumo.jpg">
          <!-- <a ui-sref="creditos"><span class="card-title">Crédito de Consumo</span></a> -->
        </div>
      </div>
    </div>
  </div>
</div>