<!-- about section

    ================================================== -->

<section class="about-section2 about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="project-title title">
          <div class="project-title title"> <span class="sm-title">Nuestra</span>
            <h2 class="box-header">RESEÑA HISTÓRICA</h2>
            <p>Las primeras ideas y reuniones para la conformación de Coopartamos Ltda., se dieron
              por el mes de enero del 2009, las reuniones con los idealistas de este proyecto socio-
              financiero fueron lideradas por el economista Héctor Moromenacho, profesional con 17
              años de experiencia en el sector cooperativo de ahorro y crédito.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6"><img class="" src="img/about-us.jpg" alt=""></div>
      <div class="col-md-6">
        <p> La Dirección Nacional de Cooperativas, evaluó el Proyecto de Factibilidad y el 18 de diciembre de 2009 se
          legalizó la misma.</p>
        <div class="col-md-6 pad0">
          <div class="iconbox iconbox-style-2">
            <div class="iconbox-icon"><i class="fa fa-check boxicon" aria-hidden="true"></i></div>
            <div class="iconbox-content">
              <h4 class="uppercase">Misión</h4>
              <p>Mejorar la calidad de vida de nuestros socios.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 pad0">
          <div class="iconbox iconbox-style-2">
            <div class="iconbox-icon"><i class="fa fa-check boxicon" aria-hidden="true"></i></div>
            <div class="iconbox-content">
              <h4 class="uppercase">Visión</h4>
              <p>Ser una empresa cooperativa consolidada en lo económico y en lo social.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End about section -->