<script type="text/javascript">
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>

<div class="parallax-container">
  <div class="parallax"><img src="img/conocenos.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Reseña Histórica</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Las primeras ideas y reuniones para la conformación de Coopartamos Ltda., se dieron
      por el mes de enero del 2009, las reuniones con los idealistas de este proyecto socio-
      financiero fueron lideradas por el economista Héctor Moromenacho, profesional con 17
      años de experiencia en el sector cooperativo de ahorro y crédito. La Dirección Nacional
      de Cooperativas, evaluó el Proyecto de Factibilidad y el 18 de diciembre de 2009 se
      legalizó la misma.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="img/personal.JPG"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Nuestra Misión</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Mejorar la calidad de vida de nuestros socios.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="img/personal.JPG"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Nuestra Visión</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Ser una empresa cooperativa consolidada en lo económico y en lo social.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="img/personal.JPG"></div>
</div>