<script type="text/javascript">
  // $(document).ready(function() {
  //   $('select').material_select();
  // });
</script>

<div class="container">
  <h3>Simulador de Credito</h3>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-6 offset-col-md-6">
      <form id="contact-form">
        <div class="row">
          <div class="fancy-select col-md-12">
            <select class="form-control custom-form custom-select fancified">
              <option selected="selected">Tipo de Credito</option>
              <option>Meet Finance Assistant - PR Agency </option>
              <option>Discussions with Senior Finance Manager</option>
              <option>Designer</option>
              <option>Our CEO Finanace Theme Group</option>
            </select>
          </div>
          <div class="col-md-12">
            <input name="monto" id="monto" type="number" placeholder="Monto a Solicitar" ng-model="monto">
          </div>
          <div class="col-md-12">
            <input name="plazo" id="plazo" type="number" placeholder="Plazo en meses" ng-model="plazo">
          </div>
          <div class="fancy-select col-md-12">
            <select class="form-control custom-form custom-select fancified">
              <option value="0" selected="selected">Tipo de amortización</option>
              <option value="1">Cuota fija (Francesa)</option>
              <option value="2">Capital fijo (Alemana)</option>
            </select>
          </div>
        </div>
        <input type="reset" id="submit_contact" value="Limpiar">
        <input type="submit" id="submit_contact" value="Calcular" ng-click="calcular()">
      </form>
    </div>
  <!--   <form class="col-md-6">
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Tipo de Credito</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="monto" type="number" class="validate" ng-model="monto">
          <label for="monto">Monto a Solicitar</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="plazo" type="number" class="validate" ng-model="plazo">
          <label for="plazo">Plazo(Meses)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="1">Cuota fija (Francesa)</option>
            <option value="2">Capital fijo (Alemana)</option>
          </select>
          <label>Tipo de Amortizacion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <button class="waves-effect waves-light btn" type="reset">Limpiar</button>
        </div>
        <div class="input-field col s12 m6">
          <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="calcular()">Calcular
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form> -->
  </div>
</div>

  <div class="container" ng-show="letras">
    <p>Los datos a continuacion son solo aproximados</p>
    <table class="table table-hover">
      <thead>
        <tr>
            <th>DIVIDENDO</th>
            <th>VENCIMIENTO</th>
            <th>SALDO CAPITAL</th>
            <th>CAPITAL</th>
            <th>INTERES</th>
            <th>OTROS</th>
            <th>CUOTA</th>
        </tr>
      </thead>
      <tbody>
		    <tr ng-repeat="letra in letras track by $index">
          <td>{{letra.numero}}</td>
          <td>{{letra.vencimiento  | date :  "dd - MM - y"}}</td>
          <td>{{letra.saldoCapital | currency}}</td>
          <td>{{letra.capital | currency}}</td>
          <td>{{letra.interes}}</td>
          <td>{{letra.otros | currency}}</td>
          <td>{{letra.cuota | currency}}</td>
        </tr>
      </tbody>
    </table>
</div>
