<div class="container">
  <h2 class="header">Beneficios de ser socios</h2>
  <div class="row">
    <div class="col s12 m8 info-content">
      <p class="grey-text text-darken-3 lighten-3">
        La Cooperativa de Ahorro y Crédito Coopartamos Ltda.,  es una organización financiera formada por personas naturales o jurídicas, unidas voluntariamente con el objeto de realizar actividades de intermediación financiera y de responsabilidad social con sus socios, quienes cuentan con beneficios especiales por formar parte de la Institución.
      </p>
    </div>
    <div class="col s12 offset-m1 m3">
     <img style="width: 70%" src="img/manos.png">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m8 info-content">
      <p class="grey-text text-darken-3 lighten-3">
        En Coopartamos todos los socios son los dueños de la Cooperativa, “todos somos iguales”. Los excedentes que se generan van en beneficio de la Cooperativa y por ende de todos sus socios, “ganamos todos”. Esto nos diferencia de un BANCO en donde sus dueños son pocas personas y los beneficios se reparten únicamente entre sus propietarios.
      </p>
    </div>
    <div class="col s12 offset-m1 m3">
       <img style="width: 70%" src="img/money.png">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12 m8 info-content">
      <p class="grey-text text-darken-3 lighten-3">
        Coopartamos  busca mejorar la calidad de vida de sus socios y de sus familiares, mediante la prestación de productos y servicios financieros, con una atención ágil, oportuna y competente, lo que permite su permanencia y crecimiento en el mercado.
      </p>
    </div>
    <div class="col s12 offset-m1 m3">
       <img style="width: 70%" src="img/bolsa.png">
    </div>
  </div>


    <div class="col s12 m12">
      <p class="grey-text text-darken-3 lighten-3" style="font-weight: bold">
        Lo invitamos a que conozca los beneficios que presta Coopartamos a sus socios:
      </p>
    </div>


    <br>
    <!-- <p class="grey-text text-darken-3 lighten-3">
      Lo invitamos a que conozca los beneficios que presta Coopartamos a sus socios:
    </p> -->
    <div class="row">
      <div class="col s12 m4">
        <img src="img/medicos.jpg">
      </div>
    </div>
    <br>
    <h5>COSEDE</h5>
    <img src="img/cosede.jpg">
    <p>
      Sus depósitos están protegidos por la COSEDE (Corporación del Seguro de Depósitos), para mayor información ingrese a www.cosede.gob.ec
    </p>
  </div>
</div>