<div class="row">
  <div class="col s12 m12">
    <div class="card grey lighten-2">
      <div class="card-content">
        <span class="card-title">Beneficios de ser socios</span>
        <p>
          La Cooperativa de Ahorro y Crédito Coopartamos Ltda.,  es una organización financiera formada por personas naturales o jurídicas, unidas voluntariamente con el objeto de realizar actividades de intermediación financiera y de responsabilidad social con sus socios, quienes cuentan con beneficios especiales por formar parte de la Institución.
        </p>
        <br>
        <p>
          En Coopartamos todos los socios son los dueños de la Cooperativa, “todos somos iguales”. Los excedentes que se generan van en beneficio de la Cooperativa y por ende de todos sus socios, “ganamos todos”. Esto nos diferencia de un BANCO en donde sus dueños son pocas personas y los beneficios se reparten únicamente entre sus propietarios.
        </p>
        <br>
        <p>
          Coopartamos  busca mejorar la calidad de vida de sus socios y de sus familiares, mediante la prestación de productos y servicios financieros, con una atención ágil, oportuna y competente, lo que permite su permanencia y crecimiento en el mercado.
        </p>
        <br>
        <p>
          Lo invitamos a que conozca los beneficios que presta Coopartamos a sus socios:
        </p>
        <br>
        <div class="row">
          <div class="col s12 m4">
            <img src="img/medicos.jpg">
          </div>
        </div>
        <br>
        <h5>COSEDE</h5>
        <img src="img/cosede.jpg">
        <p>
          Sus depósitos están protegidos por la COSEDE (Corporación del Seguro de Depósitos), para mayor información ingrese a www.cosede.gob.ec
        </p>
      </div>
    </div>
  </div>
</div>