<div class="content">
  <h2>Solicita ya tu créditos</h2>
  <div>
    <ul>
      <li>Hipotecarios</li>
      <li>Quirografarios</li>
      <li>Credito de consumo</li>
    </ul>
  </div>
  <div>
     <label>Créditos dirigidos a personas naturales para la adquisición de bienes de consumo, pago de servicios y consolidación de deudas.</label>
  </div>
  <div>
    <label>Monto   mínimo de 500 hasta 2000</label>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Rol de pagos de los 3 últimos meses</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
  <div>
    <label>Monto máximo hasta 5000</label>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad  del deudor y garante</li>
      <li>Copia de la papeleta de votación</li>
      <li>Rol de pagos de los 3 últimos meses</li>
      <li>Copia de la carta del impuesto predial actualizado</li>
      <li>Copia de la matrícula del vehículo en caso de poseerlo</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
</div>