<div class="content">
  <h2>Solicita ya tu créditos</h2>
  <div>
    <ul>
      <li>Hipotecarios</li>
      <li>Quirografarios</li>
      <li>Credito de consumo</li>
    </ul>
  </div>
  <div>
     <label>Créditos dirigidos a personas naturales para la adquisición de bienes de consumo, pago de servicios y consolidación de deudas.</label>
  </div>
  <div>
    <label>Monto   mínimo de 500 hasta 2000</label>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad</li>
      <li>Copia de la papeleta de votación</li>
      <li>Rol de pagos de los 3 últimos meses</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
  <div>
    <label>Monto máximo hasta 5000</label>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad  del deudor y garante</li>
      <li>Copia de la papeleta de votación</li>
      <li>Rol de pagos de los 3 últimos meses</li>
      <li>Copia de la carta del impuesto predial actualizado</li>
      <li>Copia de la matrícula del vehículo en caso de poseerlo</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
    </ul>
  </div>
</div>

<div  layout="column" ng-cloak class="contentdemoBasicUsage">
  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Toolbar: md-warn</h2>
    </div>
  </md-toolbar>

  <md-content flex="" layout-padding="">
    <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>

  </md-content>

</div>