<div class="content">
  <h2>Obten ya tu micro-credito</h2>
  <div>
    <h3>Tipos de Micro-creditos</h3>
    <h4>Minorista</h4>
    <p>Montos desde 500 a 1.000</p>
    <p>Tasa 26.7% anual </p>

    <h4>Acumulacion Simple</h4>
    <p>Montos desde 1.001 a 10.000</p>
    <p>Tasa 24.5% anual </p>

    <h4>Acumulacion Ampliada</h4>
    <p>Montos desde 10.001 en adelante</p>
    <p>Tasa 22.9% anual </p>
  </div>

  <div>
    <h3>Requisitos</h3>
    <ul>
      <li>Copia de cedula de Identidad  y papeleta de votación del deudor  y garante</li>
      <li>Planilla de servicios Básicos luz, agua, teléfono</li>
      <li>Copia RUC Declaraciones en caso de tener</li>
      <li>Copia de la patente, permiso de funcionamiento</li>
      <li>Facturas de compras y de ventas del último mes</li>
      <li>Copia de la carta del impuesto predial actualizado</li>
      <li>Carta del impuesto predial actualizado</li>
      <li>Copia de la matrícula del vehículo en caso de poseerlo</li>
    </ul>
  </div>
</div>